@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var title = "IDX Islamic";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="<?= $description ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#FFFFFF">

    <meta property="og:url" content="">
    <meta property="og:title" content="<?= $title ?>">
    <meta property="og:site_name" content="ATVI">
    <meta property="og:description" content="<?= $description ?>">
    <meta property="og:image" content="">
    <!-- <meta property="og:image" content="<= $ogImg ?>"> -->
    <meta property="og:type" content="website">
    <meta property="fb:app_id" content="">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="ATVI">
    <meta name="twitter:description" content="<?= $description ?>">
    <meta name="twitter:title" content="<?= $title ?>">
    <meta name="twitter:image" content="">

    <link rel="apple-touch-icon" href="~/assets/islamic/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/islamic/img/favicon.png">

    <title>@title</title>

    <link rel="stylesheet" href="~/assets/islamic/css/main.css">
</head>
