@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain">
    <tr>
        <th>No.</th>
        <th>Code</th>
        <th class="text-left">IDX Members</th>
        <th class="short sum">Volume</th>
        <th>Rank</th>
        <th>% of</th>
        <th class="short sum">Value</th>
        <th>Rank</th>
        <th>% of</th>
        <th class="short sum">Freq.</th>
        <th>Rank</th>
        <th>% of</th>
    </tr>
</thead>
<tfoot>
    <tr class="text-right">
        <td></td>
        <td></td>
        <td class="text-left">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tfoot>