@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain">
<tr>
    <th class="short">No.</th>
    <th class="text-left">Name of Issuer and<br />Security Code</th>
    <th class="text-left">Type</th>
    <th class="">Listing Date</th>
    <th class="">Mature Date</th>
    <th class="sum">Outstanding<br> b.IDR</th>
    <th class="">Rating</th>
    <th class="">Interest</th>
    <th class="">Tenure</th>
</tr>
</thead>
<tfoot>
    <tr class="text-right">
        <td></td>
        <td class="text-left">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tfoot>