@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain" data-unorderable="0,6">
    <tr>
        <th rowspan="2">No.</th>
        <th rowspan="2" class="text-left">Code</th>
        <th rowspan="2" class="text-left">Listed ETF</th>
        <th class="short" colspan="3">Price</th>
        <th rowspan="2"></th>
        <th class="short" colspan="3">Total Trading</th>
        <th rowspan="2">Days</th>
    </tr>
    <tr>
        <th class="short">Hi</th>
        <th class="short">Low</th>
        <th class="short">Close</th>
        <th class="short sum">Volume</th>
        <th class="short sum">Value (IDR)</th>
        <th class="short sum">Freq.</th>
    </tr>
</thead>
<tfoot>
    <tr class="text-right">
        <td></td>
        <td></td>
        <td class="text-left">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tfoot>