@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain">
    <tr>
        <th class="short">No.</th>
        <th class="text-left">Type</th>
        <th class="wide text-left">Name of Bond</th>
        <th class="text-left">Security Code</th>
        <th class="">Listing Date</th>
        <th class="">Mature Date</th>
        <th class="sum">Outstanding<br> b. IDR/USD*</th>
        <th class="">Interest</th>
        <th class="">Tenure</th>
    </tr>
</thead>
<tfoot class="text-right">
    <tr>
        <td></td>
        <td></td>
        <td class="text-left">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tfoot>