@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain">
    <tr>
        <th rowspan="2">Date</th>
        <th class="short" colspan="3">Regular Market</th>
        <th rowspan="2"></th>
        <th class="short" colspan="3">Non Regular Market</th>
    </tr>
    <tr>
        <th class="short sum">Volume</th>
        <th class="short sum">Value</th>
        <th class="short sum">Freq., x</th>
        <th class="short sum">Volume</th>
        <th class="short sum">Value</th>
        <th class="short sum">Freq., x</th>
</tr>
</thead>
<tfoot>
<tr class="text-right">
    <td class="text-center">Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tfoot>