@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain">
    <tr>
        <th>No.</th>
        <th>Code</th>
        <th class="text-left">Company Name</th>
        <th >Listed Shares</th>
        <th>Shares<br>Offered</th>
        <th>Offering<br>Price, IDR</th>
        <th class="sum">Fund<br>Raised, IDR</th>
        <th>Listing<br>Date</th>
        <th>Par<br>Value</th>
    </tr>
</thead>
<tfoot>
    <tr class="text-right">
        <td class=""></td>
        <td class=""></td>
        <td class="text-left">Total</td>
        <td class=""></td>
        <td class=""></td>
        <td class=""></td>
        <td class=""></td>
        <td class=""></td>
        <td class=""></td>
    </tr>
</tfoot>