@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain" data-unorderable="0,12">
<tr>
    <th rowspan="2">No</th>
    <th rowspan="2" class="text-left">Sector</th>
    <th rowspan="2" class="">Sub Sector<br/>Code</th>
    <th rowspan="2" class="text-left">Sub Sector</th>
    <th rowspan="2">Code</th>
    <th class="wide text-left" rowspan="2">Stock Name</th>
    <th rowspan="2">Sharia</th>
    <th class="wide sum" rowspan="2">Market Capt.<br />b.IDR</th>
    <th class="short" colspan="4">Regular Market</th>
    <th rowspan="2"></th>
    <th class="short" colspan="4">Total Market</th>
</tr>
<tr>
    <th class="short nowrap sum">Volume,<br>th. share</th>
    <th class="short nowrap sum">Value,<br>m. IDR</th>
    <th class="short nowrap sum">Freq.,<br>x</th>
    <th class="short">Days</th>
    <th class="short nowrap sum">Volume,<br>th. share</th>
    <th class="short nowrap sum">Value,<br>m. IDR</th>
    <th class="short nowrap sum">Freq.,<br>x</th>
    <th class="short">Days</th>
</tr>
</thead>
<tfoot>
    <tr class="text-right">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tfoot>