<thead class="thead-plain">
<tr>
    <th rowspan="2">Date</th>
    <th class="short" colspan="3">Foreign Investor Sell - Foreign Investor Buy</th>
    <th rowspan="2"></th>
    <th class="short" colspan="3">Foreign Investor Sell - Domestic Investor Buy</th>
</tr>
<tr>
    <th class="short sum">Volume</th>
    <th class="short sum">Value (IDR)</th>
    <th class="short sum">Freq. (x)</th>
    <th class="short sum">Volume</th>
    <th class="short sum">Value (IDR)</th>
    <th class="short sum">Freq. (x)</th>
</tr>
</thead>
<tfoot>
<tr class="text-right">
    <td class="text-center">Total</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
</tfoot>