@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<thead class="thead-plain">
<tr>
    <th rowspan="2" class="text-left">Sector / Sub Sector</th>
    <th class="short" colspan="3">Regular Market</th>
    <th class="short" colspan="3">Total Market</th>
    <th class="wide sum" rowspan="2">Market Capt.,<br /> b.IDR</th>
</tr>
<tr>
    <th class="short nowrap sum">Volume,<br>th. share</th>
    <th class="short nowrap sum">Value,<br>m. IDR</th>
    <th class="short nowrap sum">Freq.,<br>x</th>
    <th class="short nowrap sum">Volume,<br>th. share</th>
    <th class="short nowrap sum">Value,<br>m. IDR</th>
    <th class="short nowrap sum">Freq.,<br>x</th>
</tr>
</thead>
<tfoot>
    <tr class="text-right">
        <td class="text-center">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</tfoot>