@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    IPublishedContent current = (CurrentPage);
    Stack<dynamic> pages = new Stack<dynamic>();
    while (current.Level > 1)
    {
        pages.Push(current);
        current = current.Parent;
    }
}

<ul class="breadcrumb block">
    <li><a href="/"><span class="fa fa-home"></span></a></li>
    @foreach (var page in pages)
    {
        var cls = page.Id == CurrentPage.Id ? "current" : "";
        <li class="@cls"><a href="@page.Url">@page.Name.ToLower()</a></li>
    }
</ul>