@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using IDXWeb.Models;
@using Newtonsoft.Json;
@using System.IO;

@{

    Layout = "Master.cshtml";
}
<main class="sticky-footer-container-item --pushed">
    <div class="container top-space">
        @{
            IPublishedContent current = (CurrentPage);
            Stack<dynamic> pages = new Stack<dynamic>();
            while (current.Level > 1)
            {
                pages.Push(current);
                current = current.Parent;
            }
        }
        <ul class="breadcrumb block">
            <li><a href="/"><span class="fa fa-home"></span></a></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                <li class="@cls"><a href="@page.Url">@page.Name.ToLower()</a></li>
            }
        </ul>
        <div class="page-title-container">
            <h1 class="page-title">Statistik</h1>
        </div>
        <div class="content-tab-container block content-tab-container--center">
            <div class="content-tab-item">
                <a href="#monthly" class="content-tab-anchor statistic-tab-js is-active">Monthly</a>
            </div>
            <div class="content-tab-item">
                <a href="#quarterly" class="content-tab-anchor statistic-tab-js">Quarterly</a>
            </div>
            <div class="content-tab-item">
                <a href="#yearly" class="content-tab-anchor statistic-tab-js">Yearly</a>
            </div>
        </div>
    </div>
    <div class="statistic-main-content">
        <div class="statistic-container is-active" id="monthly">
            <div class="background-light-grey content-push">
                <div class="container mb-16">
                    <div class="statistic--title-area mb-20">
                        <h2 class="mb-0">@CurrentPage.Name</h2>
                        <div class="download-toggle-area">
                            <button class="btn btn-primary download-toggle is-active" type="button" data-toggle="#searchList">
                                Download
                                <i class="fa fa-caret-down ml-8"></i>
                                <ul class="download-list full-width" id="searchList">
                                    <li><a href="#">PDF</a></li>
                                    <li><a href="#">Excel</a></li>
                                </ul>
                            </button>
                        </div>
                    </div>
                    <form class="report-search" action="">
                        <div class="report-search-main">
                            <i class="fa fa-search red fa-lg"></i>
                            <input class="form-input" type="text" placeholder="Search this report">
                        </div>
                    </form>
                </div>
            </div>

            <div class="background-white content-push">
                <div class="container mb-16">
                    <div class="mb-16">
                        <table class="statistic-table js-datatable-collapse" data-json="/data/etfActivities.json">
                            <thead class="thead-plain">
                                <tr>
                                    <th rowspan="2">Year / Month</th>
                                    <th rowspan="2">Days</th>
                                    <th class="short" colspan="3">Total Trading</th>
                                    <th rowspan="2"></th>
                                    <th class="short" colspan="3">Daily Trading Average </th>
                                    <th rowspan="2">Number of<br> Reit</th>
                                </tr>
                                <tr>
                                    <th class="short nowrap">Volume,<br>m. shares</th>
                                    <th class="short">Value,<br>b. IDR</th>
                                    <th class="short">Freq.,<br>th. x</th>
                                    <th class="short nowrap">Volume,<br>m. shares</th>
                                    <th class="short">Value,<br>b. IDR</th>
                                    <th class="short">Freq.,<br>th. x</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <p class="text-bold mb-8">Notes:</p>
                    <p class="mb-0">USD Rate: Middle Rate end of period, source: Bank Indonesia</p>
                </div>
            </div>
        </div>
        @*<?php include $path.'_partials/statistic-quarterly.php'; ?>
            <?php include $path.'_partials/statistic-yearly.php'; ?>*@
    </div>
</main>


