@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{

    Layout = "Master.cshtml";
}
<main class="sticky-footer-container-item --pushed">
    <div class="container top-space">
        @{
            IPublishedContent current = (CurrentPage);
            Stack<dynamic> pages = new Stack<dynamic>();
            while (current.Level > 1)
            {
                pages.Push(current);
                current = current.Parent;
            }
        }
        <ul class="breadcrumb block">
            <li><a href="/"><span class="fa fa-home"></span></a></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                <li class="@cls"><a href="@page.Url">@page.Name.ToLower()</a></li>
            }
        </ul>
        <div class="page-title-container">
            <h1 class="page-title">Statistik</h1>
        </div>
        <div class="content-tab-container block content-tab-container--center">
            <div class="content-tab-item">
                <a href="#monthly" class="content-tab-anchor statistic-tab-js is-active">Monthly</a>
            </div>
            <div class="content-tab-item">
                <a href="#quarterly" class="content-tab-anchor statistic-tab-js">Quarterly</a>
            </div>
            <div class="content-tab-item">
                <a href="#yearly" class="content-tab-anchor statistic-tab-js">Yearly</a>
            </div>
        </div>
    </div>
    <div class="statistic-main-content">
        <div class="statistic-container is-active" id="monthly">
            <div class="background-light-grey content-push">
                <div class="container mb-16">
                    <div class="statistic--title-area mb-20">
                        <h2 class="mb-0">Notes</h2>
                        <div class="download-toggle-area">
                            <button class="btn btn-primary download-toggle is-active" type="button" data-toggle="#searchList">
                                Download
                                <i class="fa fa-caret-down ml-8"></i>
                                <ul class="download-list full-width" id="searchList">
                                    <li><a href="#">PDF</a></li>
                                    <li><a href="#">Excel</a></li>
                                </ul>
                            </button>
                        </div>
                    </div>
                    <form class="report-search" action="">
                        <div class="report-search-main">
                            <i class="fa fa-search red fa-lg"></i>
                            <input class="form-input" type="text" placeholder="Search this report">
                        </div>
                    </form>
                </div>
            </div>

            <div class="background-white content-push">
                <div class="container mb-16">
                    <ol style="line-height: 2" class="text-justify--medium">
                        <li class="mb-12">
                            <span class="text-bold">Trading Volume, Value and Frequency:</span> Figures of trading volume, value and Frequency are calculated once, except on the IDX' members trading data. Trading Frequency refers to number of transaction.
                        </li>
                        <li class="mb-12">
                            <span class="text-bold">Number of shares (number of issued shares):</span> This figures is number of listed shares after adjustment when bonus and rights issues, share splits and consolidations are made.
                        </li>
                        <li class="mb-12">
                            <span class="text-bold">Number of listed shares:</span> This figures refers to the total number of shares that is already listed and can be traded at the exchange.
                        </li>
                        <li class="mb-12">
                            <span class="text-bold">Market Capitalization:</span> This figures indicates the aggregate number of shares multiplied by regular market closing price.
                        </li>
                        <li class="mb-12">
                            <p class="mb-8">
                                <span class="text-bold">Jakarta Composite Index</span>
                                <span class="text-smaller">
                                    \( = \large{\Sigma{(\text{Regular Closing Price} \times \text{Number of Shares})} \over \text{Base Value}} \times 100 \)
                                </span>
                            </p>
                            <p class="mb-0">
                                <span class="text-bold">Base Value</span>
                                \( = \Sigma{(\text{Base Price} \times \text{Number of Shares})} \)
                            </p>
                        </li>
                        <li class="mb-12">
                            <span class="text-bold">Individual Index</span>
                            \( = \large{\text{Regular Closing Price} \over \text{Base Price}} \times 100 \)
                        </li>
                        <li class="mb-12">
                            To calculate the Jakarta Composite Index and Stock Individual Index, Base Price and Base Value are adjusted when bonus and rights issues, share splits and consolidations are made. Base price for new listed companies is IPO price.
                        </li>
                        <li class="mb-12">
                            <p class="mb-8">To calculate Financial Ratio, the latest financial reports are used.</p>
                            <ul style="line-height: 2">
                                <li class="mb-8">
                                    <span class="text-bold">Earning Per Share (EPS):</span> The figure of EPS is derived by dividing Profit for the period attribute to owner's entity by number of issued shares. We annualized the EPS when interim reports are used (see the Financial statement dates and Financial Year Ends).
                                </li>
                                <li class="mb-8">
                                    <span class="text-bold">Price Earnings Ratio (PER)</span>
                                    \( = \large{\text{Regular Closing Price} \over \text{EPS}} \)
                                </li>
                                <li class="mb-8">
                                    <span class="text-bold">Book Value per Share (BV):</span> The figure of BV is derived by dividing the Total Shareholder's Equity by number of issued shares.
                                </li>
                                <li class="mb-8">
                                    <span class="text-bold">Price to Book Value (PBV)</span>
                                    \( = \large{\text{Regular Closing Price} \over \text{BV}} \)
                                </li>
                                <li class="mb-8">
                                    <span class="text-bold">Debt Equity Ratio (DER)</span>
                                    \( = \large{\text{Total Liabilities} \over \text{Equity}} \)
                                </li>
                                <li class="mb-8">
                                    <span class="text-bold">Return On Asset (ROA)</span>
                                    \( = \large{\text{Profit for the period} \over \text{Total Assets}} \times 100 \)
                                </li>
                                <li class="mb-8">
                                    <span class="text-bold">Return On Equity (ROE)</span>
                                    \( = \large{\text{Profit for the period} \over \text{Equity}} \times 100 \)
                                </li>
                                <li class="mb-8">
                                    <span class="text-bold">Net Profit Margin (NPM)</span>
                                    \( = \large{\text{Profit for the period} \over \text{Total Sales}} \times 100 \)
                                </li>
                            </ul>
                        </li>
                        <li class="mb-12">[S] Sharia Compliant Stock</li>
                        <li class="mb-12">LHS: Left Hand Side</li>
                        <li class="mb-12">RHS: Right Hand Side</li>
                    </ol>
                </div>
            </div>
        </div>
        @*<?php include $path.'_partials/statistic-quarterly.php'; ?>
            <?php include $path.'_partials/statistic-yearly.php'; ?>*@
    </div>
</main>


