<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--
      Umbraco web.config configuration documentation can be found here:
      http://our.umbraco.org/documentation/using-umbraco/config-files/#webconfig
      -->
  <add key="umbracoConfigurationStatus" value="7.10.2" />
  <add key="umbracoReservedUrls" value="~/config/splashes/booting.aspx,~/install/default.aspx,~/config/splashes/noNodes.aspx,~/VSEnterpriseHelper.axd" />
  <add key="umbracoReservedPaths" value="~/umbraco,~/install/" />
  <add key="umbracoPath" value="~/umbraco" />
  <add key="umbracoHideTopLevelNodeFromPath" value="false" />
  <add key="umbracoUseDirectoryUrls" value="true" />
  <add key="umbracoTimeOutInMinutes" value="20" />
  <add key="umbracoDefaultUILanguage" value="en-US" />
  <add key="umbracoUseSSL" value="false" />
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  <add key="webpages:Enabled" value="false" />
  <add key="enableSimpleMembership" value="false" />
  <add key="autoFormsAuthentication" value="false" />
  <add key="log4net.Config" value="config\log4net.config" />
  <add key="owin:appStartup" value="UmbracoDefaultOwinStartup" />
  <add key="Umbraco.ModelsBuilder.Enable" value="true" />
  <add key="Umbraco.ModelsBuilder.ModelsMode" value="PureLive" />
  <add key="TokenSalt" value="idx2019" />
	<add key="MEDIA_PUBLIC" value="false" />
  
  <add key="maxYear" value="4" />
  <add key="bingSubsKey" value="9882e2e9e8634121a0af4a867ba7759f" />
  <add key="bingCustConfigId" value="4220023109" />
  <add key="bingCustLink" value="https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search" />
  <add key="googleCxKey" value="005511569218286142150:8zketz8kya8" />
  <add key="googleApiKey" value="AIzaSyBgKBKvDlXyFXyu3MVC4BGyNwSWqI5kzkw" />
  <add key="googleSearchLink" value="https://www.googleapis.com/customsearch/v1" />
  <add key="gRecaptchaKey" value="6Lceh9UUAAAAAMWcoYnc21K6yba1otRQUh0kQMiN" />
  <add key="gReCaptchaSecret" value="6Lceh9UUAAAAAE_zy0e5J6aPmxrpSRu-Vj1yH5c9" />

  <!--Sentry Setting-->
  <add key="log4net.Internal.Debug" value="true"/>
  <add key="dsnKeySentry" value="https://abb9dd53f7974265aed32180d4ec436e@o58477.ingest.sentry.io/5304233"/>
  <add key="environmentSentry" value="Local"/>
  <!--End Sentry Setting-->

  <!-- Begin API Link -->
  <!-- Home Link -->
  <add key="LINK_UMA" value="http://172.16.1.109/api/get/IDXHomePage/UMA"/>
  <add key="LINK_SUSPEND" value="http://172.16.1.109/api/get/IDXHomePage/Suspension"/>
  <add key="LINK_RELISTING" value="http://172.16.1.109/api/get/IDXHomePage/IPORelisting"/>
  <add key="LINK_CORPACTION" value="http://172.16.1.109/api/get/IDXHomePage/IDXNetAnnouncement"/>
  
  <add key="LINK_STOCK_TOPGAINER" value="http://172.16.1.109/api/get/IDXHomePage/GetTopStock"/>
  <add key="LINK_STOCK_TOPFREQUENT" value="http://172.16.1.109/api/get/IDXHomePage/GetTopStock/OrderByFrequency"/>
  <add key="LINK_STOCK_TOPVALUE" value="http://172.16.1.109/api/get/IDXHomePage/GetTopStock/OrderByValue"/>
  <add key="LINK_STOCK_TOPVOLUME" value="http://172.16.1.109/api/get/IDXHomePage/GetTopStock/OrderByVolume"/>
  <add key="LINK_STOCK_INFO" value="http://172.16.1.109/api/get/IDXHomePage/GetStockInfo"/>
  
  <add key="LINK_TRADE_SUMMARY" value="http://172.16.1.109/api/get/IDXHomePage/TradeSummary"/>
  <add key="LINK_BOND_SUMMARY" value="http://172.16.1.109/api/get/IDXHomePage/BondTradeSummary"/>
  <add key="LINK_DERIVATIVE_SUMMARY" value="http://172.16.1.109/api/get/IDXHomePage/DerivativeTradeSummary"/>
  
  <add key="LINK_CALENDAR" value="http://172.16.1.109/api/get/IDXHomePage/IDXNetCalendar"/>
  
  <!-- NA Link -->
  <add key="LINK_NA_SUSPENSION" value="http://localhost:53343/api/NASuspension"/>
  <add key="LINK_NA_UMA" value="http://172.16.1.109/api/NAUMA"/>
  <add key="LINK_NA_PRESS_RELEASE_SEARCH" value="http://172.16.1.109/IDX/api/v1/publication/pressrelease/search"/>
  <add key="LINK_NA_PRESS_RELEASE" value="http://172.16.1.109/IDX/api/v1/publication/pressrelease"/>
  <add key="LINK_NA_ETDTD" value="http://172.16.1.109/api/NAETDTD"/>
  
  <!-- Announcement Link -->
  <add key="LINK_ANNOUNCEMENT_PROFILE" value="http://172.16.1.109/api/get/ListedCompanies/Announcement/Profile"/>
  <add key="LINK_ANNOUNCEMENT_ALL" value="http://172.16.1.109/IDX/api/v1/announcements"/>
  <add key="LINK_ANNOUNCEMENT_GETALL" value="http://172.16.1.109/api/get/ListedCompanies/Announcement/GetAllAnnouncement"/>
  <add key="LINK_ANNOUNCEMENT_NEWS_SEARCH" value="http://172.16.1.109/IDX/api/v1/publication/news/search"/>
  <add key="LINK_ANNOUNCEMENT_NEWS" value="http://172.16.1.109/IDX/api/v1/publication/news/"/>
  <add key="LINK_ANNOUNCEMENT_NEWS_RELATED" value="http://172.16.1.109/IDX/api/v1/publication/newsrelated"/>
  
  <!-- Financial Report Link -->
  <add key="LINK_FINANCIAL_REPORT" value="http://172.16.1.109/api/get/ListedCompanies/FinancialReport/GetFinancialReport"/>
  
  <!-- Emiten Link -->
  <add key="LINK_EMITEN_LIST" value="http://172.16.1.109/api/get/ListedCompanies/DDL/Emiten"/>
  
  <!-- Index Link -->
  <add key="LINK_INDEX_CHART" value="http://172.16.1.109/api/index/chart"/>
  <add key="LINK_INDEX_LIST" value="http://172.16.1.109/api/index/list"/>
  <add key="LINK_INDEX_MARKETTIME" value="http://172.16.1.109/api/index/markettime"/>
  
  <!-- Stock Link -->
  <add key="LINK_STOCK_CHART" value="http://172.16.1.109/api/chart/stock"/>
  
  <!-- Market Data -->
  <!-- Trading Summary -->
  <add key="LINK_INDEX_SUMMARY" value="http://172.16.1.109/api/get/DDSummary/GetIndexSummary"/>
  <add key="LINK_RECAP_SUMMARY" value="http://172.16.1.109/api/get/DDSummary/GetRecapSummary"/>
  <add key="LINK_BROKER_SUMMARY" value="http://172.16.1.109/api/get/DDSummary/GetBrokerSummary"/>
  <add key="LINK_STOCK_SUMMARY" value="http://172.16.1.109/api/get/DDSummary/GetStockSummary"/>
  <add key="LINK_PED_SUMMARY" value="http://172.16.1.109/api/get/DDSummary/GetPedSummary"/>
  
  <!-- Statistical Report -->
  <add key="LINK_STATISTIC_DAILY" value="http://172.16.1.109/IDX/api/v1/publication/statistics/period/daily"/>
  <add key="LINK_STATISTIC" value="http://172.16.1.109/IDX/api/v1/publication/statistics"/>
  <add key="LINK_PERFORMANCE_SUMMARY" value="http://172.16.1.109/IDX/api/v1/listedcompany/performancesummary/search"/>
  <add key="LINK_LQ45" value="http://172.16.1.109/IDX/api/v1/publication/lq45"/>
  <add key="LINK_FACT_BOOK" value="http://172.16.1.109/IDX/api/v1/publication/factbook"/>
  <add key="LINK_BOND_BOOK" value="http://172.16.1.109/IDX/api/v1/publication/bondbook"/>
  
  <!-- Stocks Data -->
  <add key="LINK_INDEX_SUMMARY_CONSTITUENT" value="http://172.16.1.109/IDX/api/v1/marketsummary/indexsummary/group/constituent"/>
  <add key="LINK_INDEX_SUMMARY_SECTORAL" value="http://172.16.1.109/IDX/api/v1/marketsummary/indexsummary/group/sectoral"/>
  <add key="LINK_INDEX_SUMMARY_IC" value="http://172.16.1.109/api/get/IC/Livefeed"/>
  <add key="LINK_INDEX_MARGIN_STOCK" value="http://172.16.1.109/api/get/MarketInformation/GetMarginStock"/>
  <add key="LINK_INDEX_PREOPENING_STOCK" value="http://172.16.1.109/api/get/MarketInformation/GetPreOpeningStock"/>
  <add key="LINK_INDEX_CONSTITUENT" value="http://172.16.1.109/api/get/MarketInformation/GetIndexConstituent"/>
  <add key="LINK_INDEX_GROUP" value="http://172.16.1.109/IDX/api/v1/indices/group"/>
  
  <!-- Securities Stock -->
  <add key="LINK_SECURITIES_STOCK_SEARCH" value="http://172.16.1.109/IDX/api/v1/securities/stock/search"/>
  <add key="LINK_SECURITIES_SECTOR" value="http://172.16.1.109/IDX/api/v1/securities/sector"/>
  <add key="LINK_SECURITIES_SUBSECTOR" value="http://172.16.1.109/IDX/api/v1/securities/subsector"/>
  <add key="LINK_SECURITIES_BOND_MATURITY_YEAR" value="http://172.16.1.109/IDX/api/v1/securities/bond/maturityyear"/>
  <add key="LINK_SECURITIES_SECTOR_LIST" value="http://172.16.1.109/api/get/ListedCompanies/DDL/Sector"/>
  <add key="LINK_SECURITIES_BOARD_LIST" value="http://172.16.1.109/api/get/ListedCompanies/DDL/Board"/>
  <add key="LINK_SECURITIES_BOND_CORP_SEARCH" value="http://172.16.1.109/IDX/api/v1/securities/bond/type/corporate/search"/>
  <add key="LINK_SECURITIES_BOND_GOV_SEARCH" value="http://172.16.1.109/IDX/api/v1/securities/bond/type/government/search"/>
  <add key="LINK_SECURITIES_BOND_ISSUER" value="http://172.16.1.109/IDX/api/v1/securities/bond/issuer"/>
  <add key="LINK_SECURITIES_BOND_GOV_ISSUER" value="http://172.16.1.109/IDX/api/v1/securities/bond/type/government"/>
  <add key="LINK_SECURITIES_BOND_GOV_CATEGORY" value="http://172.16.1.109/IDX/api/v1/securities/bondcategory"/>
  
  <!-- KBIE -->
  <add key="LINK_KBIE_MARKET_SUMMARY" value="http://172.16.1.109/IDX/api/v1/kbie/marketsummary"/>
  
  <!-- MIIndicesController -->
  <add key="LINK_INDOBEX_COMPOSITE" value="http://172.16.1.109/IDX/api/v1/indices/indobex/composite"/>
  <add key="LINK_INDOBEX_GOVERNMENT" value="http://172.16.1.109/IDX/api/v1/indices/indobex/government"/>
  <add key="LINK_INDOBEX_CORPORATE" value="http://172.16.1.109/IDX/api/v1/indices/indobex/corporate"/>
  
  <!-- MIETPController -->
  <add key="LINK_ETP_TRADING_ACTIVITY" value="http://172.16.1.109/IDX/api/v1/etp/tradingactivity"/>  
  <add key="LINK_ETP_MARKET_SUMMARY" value="http://172.16.1.109/IDX/api/v1/etp/marketsummary"/>  
  <add key="LINK_ETP_MARKET_SUMMARY_PREV" value="http://172.16.1.109/IDX/api/v1/etp/marketsummaryprev"/>
  <add key="LINK_ETP_DATATIME_CURRENT" value="http://172.16.1.109/IDX/api/v1/etp/datatime/current"/>  
  <add key="LINK_ETP_DATATIME_PREV" value="http://172.16.1.109/IDX/api/v1/etp/datatime/previous"/>
  <!--to be edited-->
  <add key="LINK_ETP_MARKET_SNAPSHOT" value="http://172.16.1.109:8014/api/get/Etp/MarketSnapshot"/>
  <add key="LINK_ETP_TRADE_ACTIVITY" value="http://172.16.1.109:8014/api/get/Etp/TradeActivity"/>
  <add key="LINK_ETP_DAILY_SUMMARY" value="http://172.16.1.109/api/get/Etp/DailySummary"/>
  <add key="LINK_ETP_SECURITY_LIST" value="http://172.16.1.109:8014/api/get/Etp/Security"/>
  <add key="LINK_ETP_TICKER_LIST" value="http://172.16.1.109:8014/api/get/Etp/Security/Ticker"/>
    
  <!-- MIOTCController-->
  <add key="LINK_OTC_LATEST_REPORTING" value="http://172.16.1.109/IDX/api/v1/otc/latestreporting"/>
  <add key="LINK_OTC_LATEST_REPORTING_CORP" value="http://172.16.1.109/IDX/api/v1/otc/latestreporting/corp"/>
  <add key="LINK_OTC_LATEST_REPORTING_GOV" value="http://172.16.1.109/IDX/api/v1/otc/latestreporting/gov"/>
  
  <add key="LINK_OTC_LATEST_TRADE" value="http://172.16.1.109/IDX/api/v1/otc/latesttrade"/>
  <add key="LINK_OTC_LATEST_TRADE_CORP" value="http://172.16.1.109/IDX/api/v1/otc/latesttrade/corp"/>
  <add key="LINK_OTC_LATEST_TRADE_GOV" value="http://172.16.1.109/IDX/api/v1/otc/latesttrade/gov"/>

  <add key="LINK_OTC_SUMMARY_REPORTING" value="http://172.16.1.109/IDX/api/v1/otc/summaryreporting"/>
  <add key="LINK_OTC_SUMMARY_REPORTING_CORP" value="http://172.16.1.109/IDX/api/v1/otc/summaryreporting/corp"/>
  <add key="LINK_OTC_SUMMARY_REPORTING_GOV" value="http://172.16.1.109/IDX/api/v1/otc/summaryreporting/gov"/>

  <add key="LINK_OTC_SUMMARY_TRADE" value="http://172.16.1.109/IDX/api/v1/otc/summarytrade"/>
  <add key="LINK_OTC_SUMMARY_TRADE_CORP" value="http://172.16.1.109/IDX/api/v1/otc/summarytrade/corp"/>
  <add key="LINK_OTC_SUMMARY_TRADE_GOV" value="http://172.16.1.109/IDX/api/v1/otc/summarytrade/gov"/>
  
  <add key="LINK_OTC_MOST_ACTIVE_BONDS_CORP" value="http://172.16.1.109/IDX/api/v1/otc/mostactivebonds/corp"/>
  <add key="LINK_OTC_MOST_ACTIVE_BONDS_GOV" value="http://172.16.1.109/IDX/api/v1/otc/mostactivebonds/gov"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_CORP" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/corp"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_CORP_BANK" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/corp/bank"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_CORP_SECURITIES" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/corp/securities"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_CORP_CUSTODIAN" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/corp/custodian"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_GOV" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/gov"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_GOV_BANK" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/gov/bank"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_GOV_SECURITIES" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/gov/securities"/>
  <add key="LINK_OTC_MOST_ACTIVE_PARTICIPANTS_GOV_CUSTODIAN" value="http://172.16.1.109/IDX/api/v1/otc/mostactiveparticipants/gov/custodian"/>
  <add key="LINK_OTC_CANCELLED" value="http://172.16.1.109/IDX/api/v1/otc/cancelled"/>
  <add key="LINK_OTC_LATEST_DATA_TIME" value="http://172.16.1.109/IDX/api/v1/otc/utils/latestdatatime"/>

  <add key="LINK_CANCELLED" value="http://172.16.1.109:8009/api/get/Reporting/cancelled"/>
  <add key="LINK_SUMMARY_STOCK" value="http://172.16.1.109:8009/api/get/Reporting/TodaySummary?type=CORP"/>
  
  <!-- MIDIndexFutures -->
  <add key="LINK_MIDINDEXFUTURES_FUTURE_TODAY" value="http://172.16.1.109/api/get/MIDIndexFutures/FutureToday"/>
  <add key="LINK_MIDINDEXFUTURES_MARKET_SUMMARY" value="http://172.16.1.109/api/get/MIDIndexFutures/MarketSummary"/>
  <add key="LINK_MIDINDEXFUTURES_MARKET_SUMMARY_PREV" value="http://172.16.1.109/api/get/MIDIndexFutures/MarketSummaryPrevious"/>
  <add key="LINK_MIDINDEXFUTURES_MARKET_HISTORY" value="http://www.api-website-idx.localdev/api/get/MIDIndexFutures/MarketHistorical"/>
  <add key="LINK_MIDINDEXFUTURES_CHART" value="http://www.api-website-idx.localdev/api/get/MIDIndexFutures/Chart"/>
  <add key="LINK_MIDINDEXFUTURES_CONTRACTCODE" value="http://www.api-website-idx.localdev/api/get/MIDIndexFutures/ContractCode"/>
  <!--/end To be edited-->
  <add key="LINK_MIDINDEXFUTURES_MOST_ACTIVE_BROKER" value="http://172.16.1.109/api/get/MIDIndexFutures/MostActiveBroker"/>
  <add key="LINK_MIDINDEXFUTURES_MOST_ACTIVE_CONTRACT" value="http://172.16.1.109/api/get/MIDIndexFutures/MostActiveContract"/>
  
  <!-- ABS -->
  <add key="LINK_ABS" value="http://172.16.1.109/IDX/api/v1/securities/abs"/>
  <add key="LINK_ABS_SEARCH" value="http://172.16.1.109/IDX/api/v1/securities/abs/search"/>

  <!-- ETF -->
  <add key="LINK_ETF" value="http://172.16.1.109/IDX/api/v1/marketinformation/etf"/>

  <!-- Listing Activity -->
  <add key="LINK_LISTING_ACTIVITY_IPO_RELISTING" value="http://172.16.1.109/api/get/ListedCompanies/ListingActivity/IPORelisting"/>
  <add key="LINK_LISTING_ACTIVITY_DELISTING" value="http://172.16.1.109/api/get/ListedCompanies/ListingActivity/Delisting"/>
  <add key="LINK_LISTING_ACTIVITY_ISSUED_HISTORY" value="http://172.16.1.109/api/get/ListedCompanies/ListingActivity/IssuedHistory"/>
  
  <!-- Listed Company -->
  <add key="LINK_LISTED_COMPANY_PROFILE" value="http://172.16.1.109/api/get/ListedCompanies/Profile"/>
  <add key="LINK_LISTED_COMPANY_FINANCE" value="http://172.16.1.109/api/get/ListedCompanies/ProfileFinancialReport"/>
  <add key="LINK_LISTED_COMPANY_TRADING_INFO_SS" value="http://172.16.1.109/api/get/ListedCompanies/TradingInfoSS"/>
  <add key="LINK_LISTED_COMPANY_TRADING_INFO_DAILY" value="http://172.16.1.109/api/get/ListedCompanies/TradingInfoDaily"/>
  <add key="LINK_LISTED_COMPANY_ANNOUNCEMENT" value="http://172.16.1.109/api/get/ListedCompanies/Announcement/GetAllAnnouncement"/>
  <add key="LINK_LISTED_COMPANY_SPECIAL_NOTATION" value="http://www.api-website.idx.localhost/api/get/ListedCompanies/SpecialNotation/SpecialNotation"/>
  <add key="LINK_LISTED_COMPANY_SPECIAL_NOTATION_DATE" value="http://www.api-website.idx.localhost/api/get/ListedCompanies/SpecialNotation/LatestDate" />
  
  <!-- Exchange Members and Participants Link -->
  <add key="LINK_EMP_BROKER" value="http://172.16.1.109/IDX/api/v1/brokers"/>
  <add key="LINK_EMP_BROKER_SEARCH" value="http://172.16.1.109/IDX/api/v1/brokers/search"/>
  <add key="LINK_EMP_BROKER_FILTER" value="http://172.16.1.109/IDX/api/v1/brokers/filter"/>
  <add key="LINK_EMP_PARTICIPANT" value="http://172.16.1.109/IDX/api/v1/participant"/>
  <add key="LINK_EMP_PARTICIPANT_SEARCH" value="http://172.16.1.109/IDX/api/v1/participant/search"/>
  <add key="LINK_EMP_PRIMARY_DEALER" value="http://172.16.1.109/IDX/api/v1/primarydealer"/>
  <add key="LINK_EMP_PRIMARY_DEALER_SEARCH" value="http://172.16.1.109/IDX/api/v1/primarydealer/search"/>

	<!-- Special Monitoring Effects-->
	<add key="LINK_SPECIAL_MONITORING_EFFECTS_TODAY" value="http://172.16.1.109:8016/api/get/SpecialMonitoringEffects/MonitoringEffectsToday"/>
	<add key="LINK_SPECIAL_MONITORING_EFFECTS_HISTORY" value="http://172.16.1.109:8016/api/get/SpecialMonitoringEffects/MonitoringEffectsHistorical"/>
  
  <!--http://localhost:60697/api/-->
  <!-- DPS Link -->
  <add key="DPS_BASE_URL" value="http://localhost:60697" />

  <!-- GET -->
  <add key="LINK_DPS_DAILY_IDX_INDICES" value="/api/dailyindices"/>
  <add key="LINK_DPS_IDX_INDICES_HIGHLIGHT" value="/api/idxindiceshighlight"/>
  <add key="LINK_DPS_REPORT" value="/reportgenerator/"/>
  <add key="LINK_DPS_COMPOSITE_STOCK_PRICE" value="/api/compositestockpriceindex"/>
  <add key="LINK_DPS_COMPOSITE_STOCK_PRICE_BELOW" value="/api/compositestockpriceindexbelow"/>
  <add key="LINK_DPS_JCI_SECTORAL_MOVEMENT" value="/api/jcisectoralmovement/"/>
  
  <add key="LINK_DPS_TABLE_DAILY_TRADING_INVESTOR_FOREIGN" value="/api/tabledailytradingbyinvestor/getforeign/"/>
  <add key="LINK_DPS_TABLE_DAILY_TRADING_INVESTOR_DOMESTIC" value="/api/tabledailytradingbyinvestor/getdomestic/"/>
  
  <add key="LINK_DPS_DAILY_TRADING_VALUE" value="/api/dailytrading/value"/>
  <add key="LINK_DPS_DAILY_TRADING_VOLUME" value="/api/dailytrading/volume"/>
  <add key="LINK_DPS_DAILY_TRADING_FREQUENCY" value="/api/dailytrading/freq"/>
  <add key="LINK_DPS_TOTAL_TRADING_INVESTOR" value="/api/totaltradinginvestor"/>
  <add key="LINK_DPS_TOTAL_NET_PURCHASE" value="/api/netpurchaseforeign"/>
  <!-- ETF DIRE DINFRA-->
  <add key="LINK_EDD_ETF_MARKET" value="http://172.16.1.109:8014/api/get/EDD/Etf"/>
  <add key="LINK_EDD_DIRE_MARKET" value="http://172.16.1.109/api/get/EDD/Dire"/>
  <add key="LINK_EDD_DINFRA_MARKET" value="http://172.16.1.109/api/get/EDD/Dinfra"/>

  <!-- OPEN API -->
  <add key="Link_ListedCompany_CoreBusiness_Dwh" value="http://172.16.1.109/api/get/LC/DWH/CoreBusiness"/>
  <add key="Link_ListedCompany_Dividen_Dwh" value="http://172.16.1.109/api/get/LC/DWH/Dividen"/>
  <add key="Link_ListedCompany_NameChanges_Dwh" value="http://172.16.1.109/api/get/LC/DWH/NameChanges"/>
  <add key="Link_ListedCompany_StockHolder_Dwh" value="http://172.16.1.109/api/get/LC/DWH/PSMT5"/>
  <add key="Link_ListedCompany_StockHolderPengendali_Dwh" value="http://172.16.1.109/api/get/LC/DWH/PSP"/>
  <add key="Link_ListedCompany_DividenSaham_Dwh" value="http://172.16.1.109/api/get/LC/DWH/DividenSaham"/>
  <add key="Link_ListedCompany_DividenTunai_Dwh" value="http://172.16.1.109/api/get/LC/DWH/DividenTunai"/>
  <!-- /OPEN API-->
  <add key="LINK_DPS_DAILY_TRADING_MARKET_REGNONREG" value="/api/dailytradingbymarket/regnonreg"/>
  <add key="LINK_DPS_DAILY_TRADING_MARKET_NONREG" value="/api/dailytradingbymarket/nonreg"/>
  
  <add key="LINK_DPS_TRADING_VALUE_BYMARKET" value="/api/tradingvolumevaluebymarket/value"/>
  <add key="LINK_DPS_TRADING_VOLUME_BYMARKET" value="/api/tradingvolumevaluebymarket/volume"/>
  <add key="LINK_DPS_DAILY_RIGHT_CERTIFICATE" value="/api/dailytradingbysecurities"/>
  <add key="LINK_DPS_TRADING_VALUE_INDUSTRY" value="/api/tradingvaluebyindustry"/>
  <add key="LINK_DPS_NUMBER_OF_LISTED_SHARES_INDUSTRY" value="/api/numberoflistedsharesbyindustry"/>
  
  <add key="LINK_DPS_BIGGEST_MARKET_CAP" value="/api/biggestmarketcap"/>
  <add key="LINK_DPS_MOST_ACTIVE_STOCK_VOLUME" value="/api/mostactivestockvolume"/>
  <add key="LINK_DPS_MOST_ACTIVE_STOCK_VALUE" value="/api/mostactivestockvalue"/>
  <add key="LINK_DPS_MOST_ACTIVE_STOCK_VALUE_YTD" value="/api/mostactivestockvalueytd"/>
  <add key="LINK_DPS_MOST_ACTIVE_STOCK_FREQ" value="/api/mostactivestockfreq"/>
  <add key="LINK_DPS_MOST_ACTIVE_BROKERAGE_FREQ" value="/api/mostactivebrokeragebytotalfreq"/>
  <add key="LINK_DPS_MOST_ACTIVE_BROKERAGE_VALUE" value="/api/mostactivebrokeragebytotalvalue"/>
  <add key="LINK_DPS_MOST_ACTIVE_BROKERAGE_VALUE_YTD" value="/api/mostactivebrokeragebytotalvalueytd"/>
  <add key="LINK_DPS_MOST_ACTIVE_BROKERAGE_VOLUME" value="/api/mostactivebrokeragebytotalvolume"/>

  <add key="LINK_DPS_TRADING_SUMMARY_WARRANT" value="/api/tradingsummary/warrant"/>
  <add key="LINK_DPS_TRADING_SUMMARY_ETF" value="/api/tradingsummary/etf"/>
  <add key="LINK_DPS_TRADING_SUMMARY_REIT" value="/api/tradingsummary/reit"/>
  <add key="LINK_DPS_TRADING_SUMMARY_DINFRA" value="/api/tradingsummary/dinfra"/>
  <add key="LINK_DPS_TRADING_SUMMARY_RIGHT" value="/api/tradingsummary/right"/>
  <add key="LINK_DPS_TRADING_SUMMARY_FUTURES" value="/api/tradingsummary/futures"/>
  
  <add key="LINK_DPS_TABLE_STOCK_PRICE" value="/api/tablestockprice"/>
  <add key="LINK_DPS_TABLE_STOCK_TRADING" value="/api/stocktradingtable"/>
  <add key="LINK_DPS_TABLE_TRADING_INDUSTRY" value="/api/tradingindustrytable"/>

  <add key="LINK_DPS_REPORTING_MONTHLY_ACTIVITY_IDR" value="/api/reportingmonthlyact/idr"/>
  <add key="LINK_DPS_REPORTING_MONTHLY_ACTIVITY_USD" value="/api/reportingmonthlyact/usd"/>
  
  <add key="LINK_DPS_FINANCIAL_DATA_RATIO" value="/api/financialdataratio"/>
  <add key="LINK_DPS_FINANCIAL_DATA_SUMMARY" value="/api/financialsummary"/>
  <add key="LINK_DPS_FINANCIAL_BOND" value="/api/financialbond"/>
  
  <add key="LINK_DPS_MEMBER_ACTIVITY_WARRANT" value="/api/memberactivity/warrant"/>
  <add key="LINK_DPS_MEMBER_ACTIVITY_ETF" value="/api/memberactivity/etf"/>
  <add key="LINK_DPS_MEMBER_ACTIVITY_REIT" value="/api/memberactivity/reit"/>
  <add key="LINK_DPS_MEMBER_ACTIVITY_RIGHT" value="/api/memberactivity/right"/>
  <add key="LINK_DPS_MEMBER_ACTIVITY_STOCK" value="/api/memberactivity/stock"/>
  
  <add key="LINK_DPS_AVAILABLE_YEAR" value="/api/getavailyear"/>
  <add key="LINK_DPS_MASTER_INDEX" value="/api/getlistindex"/>
  
  <!--//new-->
  <add key="LINK_DPS_DIVIDEND" value="/api/dividend"/>
  <add key="LINK_DPS_BROKERAGE_TRANSACTION_WARRANT" value="/api/brokeragetransaction/warrant"/>
  <add key="LINK_DPS_BROKERAGE_TRANSACTION_ETF" value="/api/brokeragetransaction/etf"/>
  <add key="LINK_DPS_BROKERAGE_TRANSACTION_REIT" value="/api/brokeragetransaction/reit"/>
  <add key="LINK_DPS_BROKERAGE_TRANSACTION_RIGHT" value="/api/brokeragetransaction/right"/>
  <add key="LINK_DPS_BROKERAGE_TRANSACTION_STOCK" value="/api/brokeragetransaction/stock"/>
  <add key="LINK_DPS_LISTING" value="/api/listing"/>
  <add key="LINK_DPS_DELISTING" value="/api/delisting"/>
  <add key="LINK_DPS_STOCK_SPLIT" value="/api/stocksplit"/>
  
  <add key="LINK_DPS_CORPORATE_BOND_NEW_ISSUE" value="/api/corpnewissue"/>
  <add key="LINK_DPS_GOVERNMENT_BOND_NEW_ISSUE" value="/api/govnewissue"/>
  
  <add key="LINK_DPS_GOVERNMENT_CABOND" value="/api/cabondgov"/>
  <add key="LINK_DPS_CORPORATE_CABOND" value="/api/cabondcor"/>
  <add key="LINK_DPS_LIST_GOV_BOND" value="/api/listgovbond"/>
  <add key="LINK_DPS_CORP_BOND_SUKUK" value="/api/corpbondsukuk"/>
  <add key="LINK_DPS_SUMMARY_CORP_BOND_SUKUK" value="/api/summarycorpbondsukuk"/>
  <add key="LINK_DPS_LIST_ABS" value="/api/listabs"/>
  
  <add key="LINK_DPS_MOST_ACTIVE_GOV_BOND_FREQ" value="/api/mostactivegovbond/freq"/>
  <add key="LINK_DPS_MOST_ACTIVE_GOV_BOND_VOL" value="/api/mostactivegovbond/vol"/>
  <add key="LINK_DPS_MOST_ACTIVE_CORP_BOND_VOL" value="/api/mostactivecorpbond/vol"/>
  <add key="LINK_DPS_MOST_ACTIVE_CORP_BOND_FREQ" value="/api/mostactivecorpbond/freq"/>
  
  <add key="LINK_DPS_ACTIVE_PERIOD" value="/api/getlastperiod"/>
  <add key="LINK_DPS_DAILY_TRADING_IDR" value="/api/dailytradingactivity/idr"/>
  <add key="LINK_DPS_DAILY_TRADING_USD" value="/api/dailytradingactivity/usd"/>
  
  <add key="LINK_DPS_TOP_GAINER" value="/api/dailytradingactivity/gainer"/>
  <add key="LINK_DPS_TOP_LOSER" value="/api/dailytradingactivity/loser"/>
  <add key="LINK_DPS_LIST_BOND_GOV_TRADING_SUMMARY" value="/api/listsummarytradinggovbond"/>
  <add key="LINK_DPS_LIST_BOND_SUMARRY_TRADING_CORP" value="/Api/listbondsummarytrading/COR"/>
  <add key="LINK_DPS_LIST_BOND_SUMARRY_TRADING_ABS" value="/Api/listbondsummarytrading/ABS"/>
  <add key="LINK_DPS_LIST_BOND_SUMARRY_TRADING_GOV" value="/Api/listbondsummarytrading/GOV"/>
  
  <add key="LINK_DPS_LIST_TRADING_SUMMARY_INDUSTRY_CLASSIFICATION" value="/api/tradingsummaryindustry"/>
  <add key="LINK_DPS_STOCK_NEW_LISTING" value="/api/stocknewlisting"/>
  
  <add key="LINK_DPS_FUTURES_TRADING_ACTIVITY" value="/api/tradingactivity/futures"/>
  <add key="LINK_DPS_REIT_TRADING_ACTIVITY" value="/api/tradingactivity/reit"/>
  <add key="LINK_DPS_ETF_TRADING_ACTIVITY" value="/api/tradingactivity/etf"/>
  <add key="LINK_DPS_DINFRA_TRADING_ACTIVITY" value="/api/tradingactivity/dinfra"/>
  <add key="LINK_DPS_STOCKOPT_TRADING_ACTIVITY" value="/api/tradingactivity/stock"/>
  <add key="LINK_DPS_IDX_TRADING_ACTIVITY" value="/api/tradingactivity/idx"/>
  <add key="LINK_DPS_CORP_BOND_ACTIVITY" value="/api/bondactivity/corp"/>
  <add key="LINK_DPS_GOV_BOND_ACTIVITY" value="/api/bondactivity/gov"/>
  <add key="LINK_DPS_ABS_BOND_ACTIVITY" value="/api/bondactivity/abs"/>
  <add key="LINK_DPS_AVG_ALL_ACTIVITY" value="/api/avgdailytradingallinstrument"/>

  <!-- 0209 -->
  <add key="LINK_DPS_DAILY_STOCK_PRICE_INDEX" value="/api/dailystockpriceindex"/>

  <!-- 1209 -->
  <add key="LINK_DPS_STOCK_TRADING_SUMMARY" value="/api/statisticalhighlight/stocksum"/>
  <add key="LINK_DPS_FOREIGN_STOCK_TRANSACTION" value="/api/statisticalhighlight/foreignstocktrans"/>
  <add key="LINK_DPS_STOCK_M_SNAPSHOT" value="/api/statisticalhighlight/stockmsnap"/>
  <!-- 1110 -->
  <add key="LINK_DPS_STAT_NEW_LISTING" value="/api/statisticalhighlight/stocknewlisting"/>
  <add key="LINK_DPS_STAT_DELISTING" value="/api/statisticalhighlight/stockdelisting"/>
  <add key="LINK_DPS_OTHER_INSTRUMENT_TRAD_SUM" value="/api/statisticalhighlight/otherinsttradsum"/>
  <add key="LINK_DPS_NUMBER_SECURITIES" value="/api/statisticalhighlight/numbersecurities"/>
  <add key="LINK_DPS_FOREIGN_INVESTOR_STOCK_TRANSACTION" value="/api/statisticalhighlight/foreignstocktrans"/>
  <add key="LINK_DPS_STOCK_M_SNAPSHOT_RIGHT" value="/api/statisticalhighlight/stockmsnapright"/>
  <add key="LINK_DPS_RIGHT_ANNOUNCEMENTS" value="/api/statisticalhighlight/rightannouncements"/>
  <add key="LINK_DPS_BOND_ABS_TRADING_SUMMARY" value="/api/statisticalhighlight/bondabstradsum"/>
  <add key="LINK_DPS_BOND_ABS_LISTING_SUMMARY" value="/api/statisticalhighlight/bondabslistingsum"/>

  <add key="LINK_DPS_12_M_LIST_INDEX" value="/api/index12m/listindex"/>
  <add key="LINK_DPS_12_M_ID" value="/api/index12m"/>
  <!-- 21/10 -->
  <add key="LINK_DPS_JC_STOCK_PRICE_INDEX" value="/api/jcstockpriceindex"/>
  <add key="LINK_DPS_TOTAL_TRADING_INVESTOR_QUARTER" value="/api/totaltradinginvestorquarter"/>
  <add key="LINK_DPS_TOTAL_NET_PURCHASE_QUARTER" value="/api/netpurchaseforeignquarter"/>
  <add key="LINK_DPS_TOTAL_VALUE_INVESTOR_YTD" value="/api/totaltradingvalue/YTD"/>
  <add key="LINK_DPS_TOTAL_VALUE_INVESTOR_QUARTER" value="/api/totaltradingvalue/quarter"/>
  <add key="LINK_DPS_REPORT_MONTHLY_INVESTORS_FOREIGN" value="/api/reportingmonthlyforeign"/>
  <add key="LINK_DPS_REPORT_MONTHLY_INVESTORS_DOMESTIC" value="/api/reportingmonthlydomestic"/>
  <add key="LINK_DPS_REPORT_MONTHLY_FOREIGN_TRANSACTION" value="/api/reportingmonthlyforeigntrans"/>
  <add key="LINK_DPS_RIGHT_OFFERING" value="/api/rightoffering"/>
  <!-- 11/11 -->
  <add key="LINK_DPS_MONTHLY_TRADING_VOLUME_VALUE" value="/api/statisticalhighlight/monthlytradingvolval"/>
  <add key="LINK_DPS_QUARTERLY_TRADING_VOLUME_VALUE" value="/api/statisticalhighlight/quarterlytradingvolval"/>
  <!-- 16/11 -->
  <add key="LINK_DPS_QUARTERLY_STATISTICAL_HIGHLIGHT" value="/api/statistical/quarterly"/>

  <!--Annoder Share Folder-->
  <add key="STATIC_DATA_FOLDER" value="\\192.168.11.152\webdev\www_060105\www\Portals\0\StaticData" />
  <add key="ANNODER_ANNOUNCEMENT_FOLDER" value="\\192.168.11.152\webdev\www_060105\www\Portals\0\StaticData\Annoder\Announcement" />
  <add key="ANNODER_SHARE_FOLDER_API" value="http://localhost:8009" />
  <!-- INDEX IC-->
  <add key="LINK_IC_LIVEFEED" value="http://172.16.1.109:8014/api/get/IC/Livefeed"/>
  
  <!--SPPA-->
  <add key="LINK_SPPA_ANNOUNCEMENT" value="http://172.16.1.109:8014/api/get/Sppa/Announcement"/>
  <add key="LINK_SPPA_ANNOUNCEMENT_DETAIL" value="http://172.16.1.109:8014/api/get/Sppa/Announcement"/>

  <add key="LINK_SPPA_PROFILE" value="http://172.16.1.109:8014/api/get/Sppa/Profile"/>
  <add key="LINK_SPPA_PROFILE_DETAIL" value="http://172.16.1.109:8014/api/get/Sppa/Profile"/>

  <add key="LINK_PD_QUOTATION" value="http://172.16.1.109:8014/api/get/Etp/PdQuotation"/>
  <add key="LINK_PD_QUOTATION_REFERENCE" value="http://172.16.1.109:8014/api/get/Etp/PdQuotation/Reference"/>
  <add key="LINK_PD_QUOTATION_INSTRUMENT" value="http://172.16.1.109:8014/api/get/Etp/PdQuotation/Instrument"/>

  <!--ESG INFORMATION-->
  <add key="LINK_ESG_INFORMATION" value="http://172.16.1.109:8017/api/get/ListedCompanies/ESG/Information"/>

  <!-- OPEN API -->
  <add key="Link_ListedCompany_CoreBusiness_Dwh" value="http://172.16.1.109:8015/api/get/LC/DWH/CoreBusiness"/>
  <add key="Link_ListedCompany_Dividen_Dwh" value="http://172.16.1.109:8015/api/get/LC/DWH/Dividen"/>
  <add key="Link_ListedCompany_NameChanges_Dwh" value="http://172.16.1.109:8015/api/get/LC/DWH/NameChanges"/>
  <add key="Link_ListedCompany_StockHolder_Dwh" value="http://172.16.1.109:8015/api/get/LC/DWH/PSMT5"/>
  <add key="Link_ListedCompany_StockHolderPengendali_Dwh" value="http://172.16.1.109:8015/api/get/LC/DWH/PSP"/>
  <add key="Link_ListedCompany_DividenSaham_Dwh" value="http://172.16.1.109:8015/api/get/LC/DWH/DividenSaham"/>
  <add key="Link_ListedCompany_DividenTunai_Dwh" value="http://172.16.1.109:8015/api/get/LC/DWH/DividenTunai"/>
  <!-- /OPEN API-->

  <!-- End API Link -->
</appSettings>