<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="umbracoDbDSN" />
  <remove name="idxweb" />
  <!-- LOCAL -->
  <!-- <add name="umbracoDbDSN" connectionString="Server=DESKTOP-AV976G0;Database=idxweb-etp;Integrated Security=True" providerName="System.Data.SqlClient" /> -->
  <!--<add name="idxweb" connectionString="Server=DESKTOP-02LTJS7\SQLEXPRESS;Initial Catalog=IDXWebsite;Persist Security Info=False;Integrated Security=True;Connection Timeout=60" providerName="System.Data.SqlClient" />
  <add name="idxwebdata" connectionString="Server=DESKTOP-02LTJS7\SQLEXPRESS;Initial Catalog=IDXWebsite;Persist Security Info=False;Integrated Security=True;Connection Timeout=60" providerName="System.Data.SqlClient" /> 
	-->
  <!-- DEVELOPMENT -->
  
  
  <add name="umbracoDbDSN" connectionString="Server=172.17.50.6;Database=idxweb-etp;User Id=webuser;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
  <add name="idxweb" connectionString="Server=172.17.50.6;Initial Catalog=IDXWebsite;Persist Security Info=False;User Id=webuser;Password=p@ssw0rd;Connection Timeout=60" providerName="System.Data.SqlClient" />
  <add name="idxwebdata" connectionString="Server=172.17.50.6;Initial Catalog=IDXWebsite;Persist Security Info=False;User Id=webuser;Password=p@ssw0rd;Connection Timeout=60" providerName="System.Data.SqlClient" />
  

</connectionStrings>